.cache/
.gradle/
.idea/
.sass-cache/
.settings/
.project
.classpath
.buildpath

*.sublime-project
*.sublime-workspace

build/
/bin/*
/out/*
/target/*

*.iml
*.ipr
*.iws

# OS and various viewers garbage
Thumbs.db
.DS_Store

